<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>
  <appSettings />
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
            <authentication> 區段可以用來設定 ASP.NET 
          使用的安全性驗證模式，以識別連入的
          使用者。 
        -->
    <authentication mode="Windows" />
    <!--
            <customErrors> 區段可以用來設定
            在執行要求期間發生未處理
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁
            以取代錯誤堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!-- This httpHandlers config only required if using IIS6 (or lower) -->
    <!--
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    -->
    <!-- This httpModules config only required if using IIS6 (or lower) -->
    <!--
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
      <namespaces>
        <add namespace="Ext.Net" />
      </namespaces>
    </pages>
  </system.web>
  <extnet theme="Triton" licenseKey="** Ext.NET LICENSE KEY HERE **" initScriptMode="Linked" />
  <system.webServer>
    <!-- Ext.Net Begin -->
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- Ext.Net End -->
    <!-- Ext.Net Begin -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </modules>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="Default.htm"/>
        <remove value="Default.asp"/>
        <remove value="index.htm"/>
        <remove value="index.html"/>
        <remove value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
    <!-- Ext.Net End -->
  </system.webServer>
  <!-- Ext.Net Begin -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="1.0.0.0-4.5.0" newVersion="4.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Ext.Net End -->
</configuration>